.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.main-wrapper {
  background: linear-gradient(120deg, rgba(0, 0, 0, 1) 40%, rgba(253, 246, 45, 1) 100%);
}
