.headerpost {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
    color: whitesmoke;
    background: rgb(18, 74, 153);
    background: linear-gradient(
        121deg,
        rgba(18, 74, 153, 0.8) 0%,
        rgba(25, 121, 9, 0.9) 48%,
        rgba(226, 255, 0, 1) 100%
    );
}
